body {
    font-family: 'Montserrat', sans-serif;
}

header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
    text-decoration: none;
}

footer {
    text-align: center;
    background: url("../img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #fff;
    font-size: 13px;
    margin: 20px 0;
}

@media screen and (max-width: 480px) {
    .caixa {
        width: auto;
    }


}

@media (min-width: 481px) and (max-width: 939px) {
    .caixa {
        width: auto;
    }
    nav ul {
        margin: 0 auto;
    }
}